.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.header {
  width: 100%;
  border: 1px solid orange;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.heading-link{
  text-decoration: none;
  position: relative;
  left: auto;   
  color: black;
  font-weight: 900px;
  font-size: 20px;
}
.menu{
  position: absolute;
  right:100px;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.menu-list li {
  margin-right: 8px;
}


.exit-button {
  background-color: transparent;
  color: red;
  border: 0px;
  font-weight: bold;
  font-size: 20px;
}

.exit-button:hover,
.exit-button:focus {
  cursor: pointer;
}

/* .loading {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: lightcoral;
  color: aliceblue;
  height: 100%;
  font-size: 36px;
} */