/* TodoList Form */
.bookmark-panel {
  background: white;
  /* padding: 3rem; */
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}
.bookmark-list{
  width: 60%;
}

.bookmark-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bookmark-link{
  width: 80%;
}

.bookmarks-publishDate{
  width: 15%;
  margin-left: 30px;
}

.bookmarks{
  border: 0px;
  background-color: transparent;
}

.bookmarks:hover{
  cursor: pointer;
  /* background-color: lightgray; */
  transform: scale(1.2);
}


.todo-form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.edit-form {
  display: flex;
  position: fixed;
  /* padding: 20px; */
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  
}

.edit-panel{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 35%;
  height:30%;
  top: 30%;
  left: 32%;
  border-radius: 10px;
  align-items: flex-start;
  background-color: white;
  padding: 15px;
}

.edit-header{
  margin:0px;
  margin-top: 10px;
  height:30%;
}

.edit-subHeader{
  text-align: start;
  margin: 0px;
  margin-bottom: 10px;
  height:10%;
}

#newBookmarks{
  width: 80%;
  margin-bottom: 40px;
  height:10%;
}


.edit-button-wrapper{
  display: flex;
  align-self: flex-end;
  flex-direction: row;
}

.edit-button-wrapper{
  width: 30%;
  
}

.edit-button{
  margin-right: 10px; 
  width: 50%;
  border-radius: 5px;
  font-size: 14px;
  border-width:1px;
  border-color: lightgrey;

}

.save{
  background-color: rgb(0, 153, 255);
  color: white;
  height: 30px;
}

.cancel{
  background-color: white;
  color: rgb(0, 153, 255);
}


/* 
.todo-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-item {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

.todo-item input[type="checkbox"] {
  margin-right: 1rem;
}

.todo-item input[type="checkbox"]:checked + .itemName {
  opacity: 0.5;
}

.todo-item button {
  padding: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.todo-item button:hover {
  transform: scale(1.4);
} */
