.container {
  margin-left: 20px;
}

.GPTlogo {
  width: 30px;
  height: 30px;
  margin: 15px 10px 10px 0px;
}

.GPT_response {
  display: flex;
}

.GPT_input {
  margin-left: 0px;
  margin-right: 20px;
}

.GPT_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.save {
  width: 50px;
  margin-left: 0px;
}

.input_wrapper {
  display: flex;
  flex-direction: row;
}

.askGPT {
  margin-top: auto;
}
