.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

/* .heading-link{
  text-decoration: none;
  position: relative;
  left: auto;   
  color: black;
  font-weight: 900px;
  font-size: 20px;
}
.menu{
  position: absolute;
  right:100px;
} */

.section-news{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: normal;
  margin-left: 100px;
}

.search-panel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-subPanel{
  width: 60%;
}

.search-date-panel{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.search-date-subPanel{
  display: flex;
  flex-direction: column;
}

.date-panel{
  display: flex;
  flex-direction: row;
}
.date-range{
  text-align: center;
}

.date{
  width: 200px;
  margin: 20px;
  border: none;
  border-bottom: 2px solid black;

}

.search-news-by-date{
  width: 120px;
  height: 40px;
  border-radius: 10px;
  margin-right: 75px;
  align-self: flex-end;  
  border-width:3px;
}

.search-news-by-date:hover{
  cursor: pointer;
  background-color: rgb(231, 228, 228);
}

.category-wrapButton{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.category-Button{
  width: 120px;
  color:white;
  font-weight: bold;
  border-radius: 10px;
  border-width:3px;
  height: 40px;
  margin-right: 30px
}

.category-business{
  background-color: lightgreen;
}

.category-business:hover{
  cursor: pointer;
  background-color: rgb(198, 240, 198);
}

.category-entertainment{
  background-color: hotpink;
}

.category-entertainment:hover{
  cursor: pointer;
  background-color: rgb(248, 148, 198)
}

.category-health{
  background-color: plum;
}

.category-health:hover{
  cursor: pointer;
  background-color: rgb(235, 196, 235)
}

.category-science{
  cursor: pointer;
  background-color: skyblue;
}

.category-science:hover{
  cursor: pointer;
  background-color: rgb(191, 228, 243);
}

.category-sports{
  cursor: pointer;
  background-color: orangered;
}

.category-sports:hover{
  cursor: pointer;
  background-color: rgb(246, 164, 134);
}

.category-technology{
  cursor: pointer;
  background-color: silver;
}

.category-technology:hover{
  cursor: pointer;
  background-color: rgb(233, 229, 229);
}


#sel{
  width: 400px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.search{ 
  width: 200px;
  height: 40px;
  margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-width:3px;
}


.btn-class {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}

.newsList{
  display: flex;
  flex-direction: row;
}

.category-news{
  display: flex;
  flex-direction: column;
  width: 70%;
}


.news-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 90%;
}

.newsImage{
  width:240px;
  height:200px;
  object-fit: cover;
}

.news-subItem{
  width: 80%;
  margin-left: 60px;
}

.item-link{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-decoration: none;
  font-size: 24px;
  color: black;
  height: 45%;
  margin-top: 5px;

}

.item-date{
  margin-top: 40px;
}

.item-button{
  margin-top: 20px;
  width: 30%;
  display: flex;
}

.item-subButton {
  /* background-color: coral; */
  /* color: whitesmoke; */
  background-color: transparent;
  width: 50px;
  border: 0px;
  display: flex;
  padding: 0px;
}
.item-subButton:hover{
  cursor: pointer;
  transform: scale(1.2);
}


.bookmark-logo{
  width: 24px;
  height: 24px;
}


.chatGPT-logo{
  width: 24px;
  height: 24px;
}

.top-news{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.top-news-header{
  align-self: center;
  font-size: 28px;
  font-family: 'Raleway',sans-serif;
  height: 0px;
}

.top-news-item{
  list-style-type:none;
}

.top-news-subitem{
  display: flex;
  flex-direction: row;
}

.top-news-index{
  font-size: 30px;
  width: 15%;
  text-decoration: underline red;
}

.top-news-info{
  margin-top: 20px;
  width: 70%;
}

.top-news-category{
  font-size: 20px;
  font-weight: bolder;
  color: red;
  text-transform: uppercase;
  font-family: 'Raleway',sans-serif;
}

.top-news-link{
  width: 70%;
}

.btn-secondary {
  margin-top: 5px;
  background-color: cornflowerblue;
  color: whitesmoke;
}
