.news_details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

.news_details h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .news_details h1 {
    font-size: 1.5rem;
  }
}

.news_details p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #666;
}

.news_details img.detail_image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.news_details article {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 20px;
}

.news_details a {
  color: #0077c2;
  text-decoration: none;
}

.news_details a:hover {
  text-decoration: underline;
}
